<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Service Broker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">
    <img src="{{ url_for('static', filename='cartoon3.png') }}" alt="Peeking Cartoon" class="cartoon-image">
    <div class="login-box">

        <h1>Service Broker Login</h1>
        <div id="message"></div>
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button class="login-btn" onclick="login()">Login</button>
        <button class="register-btn" onclick="register()">Register</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
